---
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/Link.astro";

import { mops } from "@/lib/data";
import { getTodayMop } from "@/lib/utils";

// Ambil mop hari ini
const todayMop = getTodayMop(mops);
---

<Layout title="Home" description="Welcome to my Astro site!">
  {
    !todayMop ? (
      <main class="mx-auto max-w-2xl px-4 py-12 text-center">
        <h1 class="mb-6 text-3xl font-bold">Belum Ada Cerita</h1>
        <p class="mb-8 text-gray-600 dark:text-gray-400">
          Belum ada cerita yang tersedia untuk hari ini. Silakan kembali lagi
          nanti.
        </p>

        <a
          href="/cerita"
          class="inline-flex items-center justify-center rounded-md border border-input bg-background px-4 py-2 text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground"
        >
          Lihat Semua Cerita
        </a>
      </main>
    ) : (
      <main class="mx-auto max-w-2xl px-4 py-12">
        <div class="mb-8 text-center">
          <h1 class="mb-6 text-3xl font-bold">{todayMop.title}</h1>
          <p class="text-sm text-muted-foreground">Hari ini, {todayMop.date}</p>
        </div>

        <div class="space-y-6">
          {todayMop.content.map((part: any, index: number) => (
            <div class="flex flex-col space-y-2">
              {part.type === "narration" ? (
                <p class="border-l-2 border-gray-200 pl-4 text-gray-600 dark:border-gray-700 dark:text-gray-400">
                  {part.content}
                </p>
              ) : (
                <>
                  <div class="font-medium">{part.speaker}</div>
                  <div class="rounded-lg border p-4 dark:border-gray-700">
                    {part.content}
                  </div>
                </>
              )}
            </div>
          ))}
        </div>

        <div class="mt-12 flex items-center justify-end">
          <Link
            href="/cerita/"
            class="inline-flex items-center justify-center gap-2 rounded-md border border-input bg-background px-4 py-2 text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground"
          >
            Baca yang Lain
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-4 w-4"
            >
              <path d="M5 12h14" />
              <path d="m12 5 7 7-7 7" />
            </svg>
          </Link>
        </div>
      </main>
    )
  }
</Layout>
